
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.ipch
.vs/
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
SingleImage/
Examples/
!.nuget/
!.nuget/NuGet.exe
ipch/
.metadata/
packages/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
X3Hub/ConsoleTest/App.config
X3Hub/ConsoleTest/App.config.real
X3Hub/ConsoleTest.psess
X3Hub/testService/App.config
SpreadsService/SpreadsService/SpreadsService.exe.config
plugins/compiled/SmartHedgeDealer.dll
plugins/compiled/TradesProcessor.dll
plugins/compiled/WebRegistration.dll
log-file.txt*
!Aggregator.Lib
!Aggregator.DbMigration.Lib
!Aggregator.CopyTrading.Lib
!Test/Aggregator.Test/DebugTest
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/ICSharpCode.SharpZipLib.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/log4net.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/MQ.HeartBeat.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/Newtonsoft.Json.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/RabbitMQ.Client.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net40/SharpExtensionsUtil.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/ICSharpCode.SharpZipLib.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/log4net.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/MQ.HeartBeat.dll
NuGet.Packages/NuGet.MQ.HeartBeat/lib/net45/Newtonsoft.Json.dll
![Ll]ibraries/*.*